@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --bright-orange: hsl(31, 77%, 52%); 
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%); 
  --transparent-white: hsla(0, 0%, 100%, 0.75); 
  --light-gray: hsl(0, 0%, 95%); 
}

* {
  margin: 0; 
  border: 0; 
  box-sizing: border-box;
}

.body {
  font-size: 15px;
}

.main-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 320px;
  margin: 4rem auto; 
}


.heading {
  font-family: 'Big Shoulders Display', cursive;
  text-transform: uppercase;
  color: var(--transparent-white); 
  font-size: 2rem;
  margin-bottom: 1.5rem; 
}

.text p {
  font-family: 'Lexend Deca', sans-serif;
  color: var(--transparent-white); 
}

.sedans {
  background-color: var(--bright-orange);
  border-radius: 1rem 1rem 0 0;
}

.suvs {
  background-color: var(--dark-cyan); 
}

.luxury {
  background-color: var(--very-dark-cyan);
  border-radius: 0 0 1rem 1rem;
}

.sedans, .suvs, .luxury {
  padding: 2rem; 
  display: flex;
  flex-direction: column;
  gap: 1.5rem; 
}

.sedans-btn, .suvs-btn, .luxury-btn {
  padding: 0.7rem 2rem; 
  border-radius: 2rem;
  font-size: 15px;
  font-weight: bold;
}

.sedans-btn {
  color: var(--bright-orange); 
}

.suvs-btn {
  color: var(--dark-cyan); 
}

.luxury-btn {
  color: var(--very-dark-cyan); 
}